<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        p{
            font-size: 36px;
        }
        input{
            padding: 5px 50px;
            cursor: pointer;
        }
        .wrapper{
            width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
    <title>Error</title>
</head>
<body>

    <div class="wrapper">
        <p>{{send}}</p>
        <form action="/login">
            <input type="submit" value="Перейти на страницу регистрации">
        </form>
    </div>

</body>
</html>